@media(max-width:1040px){
    .main-content{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}
@media(max-width:720px){
    .main-container{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-bottom: 10%;
    }
    .main-content{
        padding-top: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .calculation-block {
        width: 400px;
    }
}
@media(max-width:325px){
    .bill-container {
        max-width: 300px;
    }
    .calculation-block {
        width: 310px;
    }
}